.header {
    text-align: center;
    color: white;
    background-color: rgb(46, 46, 46);
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.col-md-4 {
    background-color: rgb(247, 247, 247);
}

h2 {
    color: black;
}

h4 {
margin-top:1%;
}

#weather-display {
    width: auto;
}

#forecast-card {
    margin-top:1%;
}