.header {
    text-align: center;
    color: white;
    background-color: rgb(68, 68, 68);
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.col-md-4 {
    background-color: rgb(247, 247, 247);
}

h2 {
    color: black;
}

#weather-display {
    width: auto;
}